*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:inherit;
}
ol, ul{
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight:normal;
  line-height: 1em;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'ShareTechMono';
  src: url(../fonts/ShareTechMono-Regular.ttf);
  font-weight: normal;
}
body{
  font-family: 'ShareTechMono';
  font-size:16px;
  color:#eee;
  scrollbar-width:none;
  background-color: black;
}
header{
  width:100vw;
  padding:1em 1em;
  height:15vh;
  top:0;
  z-index:999;
  text-align:center;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1, header nav, header nav ul li{
  display: inline-block;
}
header h1{
  font-size:6em;
  font-family: 'Bebas Neue';
  line-height:1em;
  text-shadow:0px 0px 0.3em black;
}
header nav{
  position:absolute;
  right:2em;
}
header nav ul{
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header nav ul li a img{
  height:3em;
  transform:scale(100%);
  filter: drop-shadow(0px 0px 0.3em black);
  transition: transform 200ms;
  margin:0em 0.5em;
}
header nav ul li a img:hover{
  transform: scale(125%);
}
footer{
  text-align: center;
  position:absolute;
  width:100vw;
  bottom:0;
  height: 15vh;
  display:flex;
  align-items:center;
  justify-content: center;
  z-index:-1;
  text-shadow:0px 0px 0.3em black;
}
@media(max-width:900px)and(min-width:481px){
  header{
  width:100vw;
  padding:1em 1em;
  height:18vh;
  position:absolute;
  top:0;
  z-index:999;
  text-align:center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav, header nav ul li{
  display: inline-block;
}
header h1{
  font-size:6em;
  display:block;
  margin-left:0.1em;
  font-family: 'Bebas Neue';
  line-height:1em;
  text-shadow:0px 0px 0.3em black;
}
header nav ul li a img{
  height:3em;
  transform:scale(100%);
  filter: drop-shadow(0px 0px 0.3em black);
  transition: transform 200ms;
  margin:0em 0.5em;
}
header nav ul li a img:hover{
  transform: scale(125%);
}
footer{
  height:10vh;
}
}
@media(max-width:900px) and (orientation:landscape)and(min-width:481px){
header{
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1{
  display:inline-block;
  font-size:3.5em;
}
header nav{
  margin-right:1em;
  position:absolute;
  font-size: 0.75em;
}
header nav ul{
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header nav ul li a img{
  margin:0em 0.5em;
}
footer{
  height: 13vh;
}
}
@media(max-width:480px){
  header{
    padding:2em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  header h1{
    font-size:4em;
  }
  header nav{
    font-size: 0.75em;
    margin:0 auto;
    display:block;
    width:100%;
    position:relative;
    right:auto;
  }
  header nav ul li a img{
    margin:0em 0.5em;
  }
  footer{
    height:10vh;
    line-height: 4em;
  }
}