*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:inherit;
}
ol, ul{
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight:normal;
  line-height: 1em;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'ShareTechMono';
  src: url(../fonts/ShareTechMono-Regular.ttf);
  font-weight: normal;
}
body{
  font-family: 'ShareTechMono';
  font-size:16px;
  color:#eee;
  scrollbar-width:none;
  background-color: black;
}
header{
  width:100vw;
  padding:1em 1em;
  position:fixed;
  top:0;
  z-index:999;
  text-align:center;
}
header h1, header nav, header nav ul li{
  display: inline-block;
}
header h1{
  font-size:6em;
  font-family: 'Bebas Neue';
  line-height:1em;
  text-shadow:0px 0px 0.3em black;
}
header nav{
  margin-right:1em;
  position:absolute;
  right:3em;
  top:50%;
  transform:translateY(-50%)
}
header nav ul li a img{
  height:3em;
  transform:scale(100%);
  filter: drop-shadow(0px 0px 0.3em black);
  transition: transform 200ms;
}
header nav ul li a img:hover{
  transform: scale(125%);
}
footer{
  text-align: center;
  position:absolute;
  width:100vw;
  bottom:0;
  line-height: 5em;
  position:fixed;
  z-index:999;
  text-shadow:0px 0px 0.3em black;
}