*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:inherit;
}
ol, ul{
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  font-size: 1em;
  font-weight:normal;
  line-height: 1em;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'ShareTechMono';
  src: url(../fonts/ShareTechMono-Regular.ttf);
  font-weight: normal;
}
body{
  font-family: 'ShareTechMono';
  font-size:16px;
  color:#eee;
  scrollbar-width:none;
  background-color: black;
}
header{
  width:100vw;
  padding:1em 1em;
  position:fixed;
  top:0;
  z-index:999;
  text-align:center;
}
header h1, header nav, header nav ul li{
  display: inline-block;
}
header h1{
  font-size:6em;
  font-family: 'Bebas Neue';
  line-height:1em;
  text-shadow:0px 0px 0.3em black;
}
header nav{
  margin-right:1em;
  position:absolute;
  right:3em;
  top:50%;
  transform:translateY(-50%);
}
header nav ul li a img{
  height:3em;
  transform:scale(100%);
  filter: drop-shadow(0px 0px 0.3em black);
  transition: transform 200ms;
  margin:0em 0.5em;
}
header nav ul li a img:hover{
  transform: scale(125%);
}
footer{
  text-align: center;
  position:absolute;
  width:100vw;
  bottom:0;
  line-height: 5em;
  position:fixed;
  z-index:-1;
  text-shadow:0px 0px 0.3em black;
}
@media(max-width:900px){
  header{
  width:100vw;
  padding:1.5em 1em 1em 1em;
  position:fixed;
  top:0;
  z-index:999;
  text-align:center;
}
header nav, header nav ul li{
  display: inline-block;
}
header h1{
  font-size:6em;
  display:block;
  font-family: 'Bebas Neue';
  line-height:1em;
  text-shadow:0px 0px 0.3em black;
}
header nav{
  margin-right:0em;
  position:relative;
  right:0em;
  top:0%;
  transform:translateY(0%)
}
header nav ul li a img{
  height:3em;
  transform:scale(100%);
  filter: drop-shadow(0px 0px 0.3em black);
  transition: transform 200ms;
  margin:0em 0.5em;
}
header nav ul li a img:hover{
  transform: scale(125%);
}
}
@media(max-width:900px) and (orientation:landscape){
header h1{
  display:inline-block;
  font-size:3.5em;
}
header{
  padding-top:0.1em;
}
header nav{
  margin-right:1em;
  position:absolute;
  right:1em;
  top:0.75em;
  font-size: 0.75em;
}
header nav ul li a img{
  margin:0em 0.5em;
}
footer{
  line-height:2.5em;
}
}
@media(max-width:480px){
  header{
    padding:1em 1em 1em 1em;
  }
  header h1{
    font-size:4em;
  }
  header nav{
    font-size: 0.75em;
  }
  header nav ul li a img{
    margin:0em 0.5em;
  }
  footer{
    line-height: 4em;;
  }
}